diplom_v0.2/Library/ArtifactDB
diplom_v0.2/Library/ArtifactDB-lock
diplom_v0.2/Library/Search/transactions.db
diplom_v0.2/Library/ShaderCache.db
diplom_v0.2/Library/SourceAssetDB
diplom_v0.2/Library/SourceAssetDB-lock
diplom_v0.2/Library/UndoData.bin
diplom_v0.2/Library/UndoStack.bin
diplom_v0.2/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
diplom_v0.2/Temp/FSTimeGet-d1acff7d7007a424bbc9a9108b2711ae
diplom_v0.2/Temp/UnityLockfile
